<div class="container">
  <h2>O que mais você precisa saber?</h2>
  <div class="row">
    <div class="col l6">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Quais as diferenças entre os cursos do INF? </div>
          <div class="collapsible-body">
            <p>Engenharia de Software: trabalha na área da computação voltada à especificação, desenvolvimento, manutenção e criação de software, com a aplicação de tecnologias e práticas de gerência de projetos e outras disciplinas, visando organização, produtividade e qualidade. </p>
            <p>Ciência da Computação: é mais focado em programação e computação, em que o aluno terá uma sólida formação em áreas como estruturas de dados, algoritmos, linguagens de programação, desenvolvimento e análise de sistemas.</p>
            <p>Sistemas de Informação: o profissional formado vai aplicar os recursos da computação para resolver problemas de negócios, especialmente, de atividades corporativas. O curso é mais focado no planejamento e desenvolvimento de sistemas de informação e automação do que necessariamente na programação de softwares. </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>O que são atividades complementares (AC)?</div>
          <div class="collapsible-body"><span> As atividades complementares contemplam ações de monitoria, produção científica, extensão, produção técnica e de representação e qualificação, dentre outras. O estudante deve cumprir o mínimo de 192 horas em atividades complementares para a integralização curricular. </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Como funcionam os pré-requisitos (PR)?</div>
          <div class="collapsible-body"><span>Existem disciplinas que só podem ser cursadas se determinada disciplina já foi concluída anteriormente. </span></div>
        </li>        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Como funciona o Trabalho de Conclusão de Curso (TCC)?</div>
        <div class="collapsible-body"><span> O TCC é desenvolvido na última etapa da graduação, sob a orientação de um professor e compreende um relatório e uma apresentação. O relatório é individual e tem como objetivo a expressão do estudante na forma escrita, a capacidade de analisar, caracterizar, investigar, discutir, implantar, pesquisar, realizar, sintetizar e avaliar, entre outras. Há também a apresentação do relatório, também individual, e realizada como última atividade do curso e tem como objetivo a expressão do estudante, agora na forma oral, das atividades descritas no relatório, em seção pública e para uma banca formada por professores do INF. </span></div>
      </li>        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Qual o fluxo sugerido de disciplinas?</div>
        <div class="collapsible-body"><span>As disciplinas exibidas na página Disciplinas deste portal estão organizadas em nove períodos letivos. Os quatro primeiros períodos concentram as disciplinas de formação básica em Computação: disciplinas de Computação propriamente ditas e aquelas de Matemática. Os demais períodos incluem disciplinas com ênfase na formação específica em Engenharia de Software.</span></div>
      </li>
      </ul>
    </div>
    <div class="col l6">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>O que, exatamente, vemos na disciplina de 320 horas?</div>
          <div class="collapsible-body">
            <p>A disciplina “Prática em Engenharia de Software”, de 320 horas, tem como objetivo explícito a participação do estudante em um ou mais projetos integradores que usufruem de conhecimento e habilidades adquiridos por todo o curso. Os projetos exigem o contato com problemas reais, o que exige contato tanto com o conhecimento quanto profissionais de outras áreas.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i>O que são atividades supervisionadas?</div>
          <div class="collapsible-body"><span>São práticas que devem ser efetuadas fora de sala aula. Por definição, divide-se cada hora de atividade acadêmica em 45 minutos de preleções e aulas expositivas e 15 minutos de atividades práticas supervisionadas. O planejamento de cada hora deve estar devidamente registrado no plano de cada disciplina. Em particular, o plano deve incluir de forma clara as atividades práticas supervisionadas.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>O que são núcleos livres?</div>
          <div class="collapsible-body"><span> O BES exige para a integralização curricular pelo menos 128 horas de disciplinas do NL. Essas disciplinas são escolhidas pelo estudante dentre todas aquelas oferecidas na UFG. Para ilustrar, no primeiro semestre de 2015 houve oferta de vagas para mais de 300 disciplinas de NL. Ou seja, o conjunto de opções de outras áreas do conhecimento é rico, o que contribui com uma formação ampla do estudante. Convém destacar que tais 128 horas perfazem a quantidade mínima exigida, o estudante pode fazer uso de uma carga horária maior. </span></div>
        </li>        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>O curso possui estágio obrigatório?</div>
        <div class="collapsible-body"><span> O estágio do BES não é de caráter obrigatório, ficando a critério do estudante realizá-lo ou não, desde que o mesmo esteja regularmente matriculado no curso. Ou seja, caracteriza estágio curricular não obrigatório. Adicionalmente, esse estágio deve ser realizado a partir do terceiro período do curso, ou após a conclusão de pelo menos 640 horas da carga horária do curso. </span></div>
      </li>        <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Quais são as instituições estudantis do INF?</div>
        <div class="collapsible-body">
          <p>
            <a href="https://docs.google.com/document/d/1vVckbUZ9MMUkFELXwz6fEzjb-ySyGG60hdwFM2E7glA/edit#">ADAs</a> O Projeto ADAs é um projeto parceiro do Programa Meninas Digitais da Sociedade Brasileira
            de Computação (SBC) e foi criado com o objetivo de aumentar a visibilidade da participação de mulheres
            na área de TI, mais especificamente, nos cursos do INF.</p>
          <p>
            <a href="https://www.facebook.com/dracoufg/">DrACo</a>: O Diretório Acadêmico da Computação é a entidade político-acadêmica de representação
            dos estudantes do Instituto de Informática da UFG.
          </p>
          <p>
            <a href="https://level5jr.com.br/">Level 5</a>: A Level 5 foi a maneira como os alunos do INF encontraram para colocarem todo seu
            conhecimento em prática. Tendo como objetivo levar o melhor do design e tecnologia de maneira eficiente
            e simples, pensando sempre no cliente em primeiro lugar.</p>
          <p>
            <a href="https://www.facebook.com/aaaucomp/">Unificada</a>: A Atlética Unificada da Computação é uma organização que visa a integração e o desenvolvimento
            esportivo dos alunos do Instituto de Informática, entre si e junto aos diversos cursos da comunidade
            universitária.
          </p>
        </div>
      </li>
      </ul>
    </div>
    <div class="col l6"></div>
  </div>
</div>
