<div class="row">
  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents fixed">
      <li *ngFor="let topico of topicos"><a href="#{{ topico.id }}">- {{ topico.topico }}</a></li>
    </ul>
  </div>

  <div class="col s12 m9 l10">
    <div class="section scrollspy" *ngFor="let topico of topicos" id="{{ topico.id }}">
      <h2>{{ topico.topico }}</h2>
      <p *ngFor="let paragradoDaDescricao of topico.descricao">{{ paragradoDaDescricao }}</p>

      <div *ngFor="let subtopico of topico.conteudo">
        <h4>{{ subtopico.subtopico }}</h4>
        <p *ngFor="let paragrafo of subtopico.detalhe">
          {{ paragrafo}}
        </p>
      </div>
    </div>

  </div>
</div>

