
<div class="container">
  <div class="row">
    <nav class="col-lg-3 sidebar">

      <li class="list-group-item active">Baixar PPC </li>

      <ul class="nav nav-pills list-group">
        <li class="list-group-item"  *ngFor="let topico of topicos">{{ topico.topico }}</li>
      </ul>
    </nav>

    <div class="col-lg-9" data-spy="scroll" data-target="#navbar-example">
      <div *ngFor="let topico of topicos">

        <h1 class="text-center">{{ topico.topico }}</h1>
        <p *ngFor="let paragrafo of topico.descricao">{{ paragrafo }}</p>

        <div *ngFor="let subtopico of topico.conteudo">
          <h3>{{ subtopico.subtopico }}</h3>
          <p *ngFor="let paragrafo of subtopico.detalhe">
            {{ paragrafo}}
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
