<nav>
  <div class="nav-wrapper ">
    <img src="assets/image/cl-logo.png" class="hide-on-med-and-down">
    <a routerLink="inicio" class="brand-logo hide-on-med-and-down">Engenharia de Software</a>
    <a routerLink="inicio" class="brand-logo hide-on-large-only">ES</a>

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="disciplinas" routerLinkActive="active">Disciplinas</a></li>
      <li><a routerLink="ppc" routerLinkActive="active">PPC</a></li>
      <li><a routerLink="faq" routerLinkActive="faq">FAQ</a></li>
      <li><a routerLink="busca" routerLinkActive="active"><i class="material-icons">search</i></a></li>
      <li><a routerLink="acessibilidade" routerLinkActive="active"><i class="material-icons">accessible</i></a></li>
      <a class="waves-effect waves-light btn" href="http://www.inf.ufg.br/sites/default/files/uploads/es/ppcESPrograd.pdf">
        <i class="material-icons left">picture_as_pdf</i>Baixar PPC</a>


    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a routerLink="disciplinas">Disciplinas</a></li>
      <li><a routerLink="ppc">PPC</a></li>
      <li><a routerLink="faq">FAQ</a></li>
      <li><a routerLink="busca">Busca</a></li>
      <li><a routerLink="acessibilidade">Acessibilidade</a></li>
      <a class="waves-effect waves-light btn" href="http://www.inf.ufg.br/sites/default/files/uploads/es/ppcESPrograd.pdf">
        <i class="material-icons left">picture_as_pdf</i>Baixar PPC</a>

    </ul>
  </div>
</nav>

