<div class="container">
  <h1>Acessibilidade</h1>

  <p>Este portal foi progetado para interagir de maneira satistatória com ferramentas que promovem acessibilidade na Web</p>

  <h3>Libras</h3>
  <p>Para ter acesso ao conteúdo em Libras, sugerimos a instalação da extensão VLibras em seu navegador ou sistema operacional.</p>
  <p>Maiores informações sobre este complemento, siga o link abaixo:</p>

  <h3>Leitor de tela</h3>
  <p>Através de um leitor de tela é possível acessesar nosso conteúdo em forma de áudio ou Braille (através de uma linha
    Braille)</p>
  <p>A navegação entre cabeçalhos foi otimizada neste portal.</p>
  <p>Você pode baixar um leitor de telas gratuito através do link a seguir:</p>
</div>
