<div class="container">
  <h1>Acessibilidade</h1>

  <div class="row">
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../assets/image/v-livras.jpg">
          <span class="card-title">Libras</span>
        </div>
        <div class="card-content">
          <p>Para ter acesso ao conteúdo em Libras, sugerimos a instalação da extensão VLibras em seu navegador ou sistema operacional.</p>
          <p>Maiores informações sobre este complemento, siga o link abaixo:</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../assets/image/NVDA.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="../../assets/image/zoom2.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>




  <p>Este portal foi progetado para interagir de maneira satistatória com ferramentas que promovem acessibilidade na Web</p>

  <h3>Libras</h3>


  <h3>Leitor de tela</h3>
  <p>Através de um leitor de tela é possível acessesar nosso conteúdo em forma de áudio ou Braille (através de uma linha
    Braille)</p>
  <p>A navegação entre cabeçalhos foi otimizada neste portal.</p>
  <p>Você pode baixar um leitor de telas gratuito através do link a seguir:</p>
</div>
