<div class="container">
  <h1>Acessibilidade</h1>

  <div class="row">
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="assets/image/v-livras.jpg">
        </div>
        <div class="card-content">
          <h5>Libras</h5>
          <p>Para ter acesso ao conteúdo em Libras, sugerimos a instalação da extensão VLibras em seu navegador ou sistema operacional.</p>
          <p>Maiores informações sobre este complemento, siga o link abaixo:</p>
        </div>
        <div class="card-action">
          <a href="#">VLIBRAS</a>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="assets/image/NVDA.jpg">
        </div>
        <div class="card-content">
          <h5>Leitor de tela</h5>
          <p>Este site está estruturado para funcionar de acordo com os principais leitores de tela disponíveis no mercado.
          Recomendamos o uso do NVDA, um leitor gratuito e sustentado pela comunidade.</p>
        </div>
        <div class="card-action">
          <a href="https://www.nvaccess.org/">NVDA</a>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img class="responsive-img" src="assets/image/zoom2.png ">
        </div>
        <div class="card-content">
          <h5>Ampliação</h5>
          <p>Para ter acesso ao conteúdo de forma ampliada, basta utilizar o zoom padrão do seu navegador, geralmente
          controlado com as teclas CTRL + (ampliar) ou CTRL - (reduzir)</p>
        </div>
        <div class="card-action">
          <a href="http://www.vlibras.gov.br/"></a>
        </div>
      </div>
    </div>
  </div>
</div>
