<div class="container">
  <div class="row">
    <div class="col s12 l6">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d_zmRmgmDk4?rel=0" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 l6">
      <p>O Bacharelado em Engenharia de Software (BES) tem como objetivo: "Formar profissionais aptos a contribuir
        efetivamente com a produção de softwares de qualidade seguindo princípios éticos e postura profissional.</p>
    </div>
  </div>
  <div class="row" id="secao-escura">
    <h1>  </h1>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>






      <!--<div class="col-lg-4"></div>-->
    <!--<div class="col-lg-8">"O BES tem como objetivo: "Formar profissionais aptos a contribuir efetivamente com a produção de softwares de qualidade-->
      <!--seguindo princípios éticos e postura profissional."-->
    <!--</div>-->
  <!--</div>-->



  <!--<dl class="dl-horizontal">-->
    <!--<dt>Nome do curso</dt>-->
    <!--<dd>Engenharia de Software</dd>-->
    <!--<dt>Grau acadêmico</dt>-->
    <!--<dd>Bacharelado</dd>-->
    <!--<dt>Título do egresso</dt>-->
    <!--<dd>Bacharel(a) em Engenharia de Software</dd>-->
    <!--<dt>Área de conhecimento (CNPq)</dt>-->
    <!--<dd>-->
      <!--Ciências Exatas e da Terra (1.00.00.00-3) <br> Ciência da Computação (1.03.00.00-7) <br> Metodologia e Técnicas da-->
      <!--Computação (1.03.03.00-6) <br> Engenharia de Software (1.03.03.02-2)-->
    <!--</dd>-->
    <!--<dt>Modalidade</dt>-->
    <!--<dd>Presencial</dd>-->
    <!--<dt>Local de oferta</dt>-->
    <!--<dd>-->
      <!--Instituto de Informática - UFG <br> Alameda Palmeiras, Quadra D, Campus Samambaia <br> Goiânia (GO), CEP 74.690-900-->
    <!--</dd>-->
    <!--<dt>Reconhecimento</dt>-->
    <!--<dd>-->
      <!--Portaria Nº 819 de 29 de outubro de 2015. <br> Número de registro no e-MEC: 201307356.-->
    <!--</dd>-->
    <!--<dt>Unidades Executoras</dt>-->
    <!--<dd>-->
      <!--Instituto de Informática (INF) <br> Instituto de Matemática e Estatística (IME) <br> Faculdade de Letras (Letras)-->
    <!--</dd>-->
    <!--<dt>Número de vagas</dt>-->
    <!--<dd>40 vagas anuais</dd>-->
    <!--<dt>Carga horária</dt>-->
    <!--<dd>3200h</dd>-->
    <!--<dt>Duração do curso</dt>-->
    <!--<dd>9 semestres</dd>-->
    <!--<dt>Turno de funcionamento</dt>-->
    <!--<dd>Noturno</dd>-->
    <!--<dt>Forma de ingresso</dt>-->
    <!--<dd>-->
      <!--Sistema de Seleção Unificada (SiSU). Em caso de existência de vagas é possível o ingresso através: (a) de transferência de-->
      <!--outras instituições de ensino superior; (b) portadores de diploma ou (c) reingresso. Essas opções dependem de processo-->
      <!--seletivo específico na UFG.-->
    <!--</dd>-->
  <!--</dl>-->
<!--</div>-->
