<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">"O BES tem como objetivo: "Formar profissionais aptos a contribuir efetivamente com a produção de softwares de qualidade seguindo princípios
      éticos e postura profissional."
    </div>
  </div>



  <dl class="dl-horizontal">
    <dt>Nome do curso</dt>
    <dd>Engenharia de Software</dd>
    <dt>Grau acadêmico</dt>
    <dd>Bacharelado</dd>
    <dt>Título do egresso</dt>
    <dd></dd>
    <dt>Área de conhecimento (CNPq)</dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
    <dt></dt>
    <dd></dd>
  </dl>
</div>

