<div class="container">
  <div class="row">
    <h2>Bacharelado em Engenharia de Software</h2>
    <div class="col s12 l6">
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d_zmRmgmDk4?rel=0" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col s12 l6">

      <h4>Sobre o Curso</h4>
      <p>
        O Instituto de Informática da Universidade Federal de Goiás cria o Curso de Engenharia de Software (talvez o
        primeiro do país). Nesse, o egresso do curso é capaz de projetar (design) software (inclui arquitetura de
        software); construir (programar) software com qualidade; realizar atividades de manutenção de software, além de
        trabalhar em equipe, comunicar e escrever bem. </p>
      <p>O Bacharelado em Engenharia de Software (BES) tem como objetivo: "Formar profissionais aptos a contribuir
        efetivamente com a produção de softwares de qualidade seguindo princípios éticos e postura profissional.</p>
    </div>
  </div>
  <div class="row">
    <div class="fundo-escuro">

      <h4>5 estrelas no Guia do Estudante por 3 vezes seguidas</h4>
      <img src="assets/image/5-estrelas.png" class="responsive-img" id="estrelas">
      <div class="col l4">
        <img src="assets/image/guia2017.png" class="responsive-img">
      </div>
      <div class="col l4">
        <img src="assets/image/guia2016.png" class="responsive-img">
      </div>
      <div class="col l4">
        <img src="assets/image/guia2015.jpg" class="responsive-img">
      </div>
    </div>
  </div>
</div>
